@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: roboto, sans-serif;
    padding:0px 48px 0px 48px;
    max-width: 100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    max-width: 100%;
}

body {
    display:flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
    font-size: 18px;
    color:#e5e7eb;
}

/*header*/

.header {
    display:flex;
    align-items: center;
    background-color: #1f2937;
}

.header-logo {
    width:50%;
    flex:1,1,auto;
    white-space: nowrap;
    padding:24px 24px 24px 144px;
    font-size: 24px;
    color:#e5e7eb;
    font-weight:800;
}

.header-right {
    flex:1,1,auto;
    width:50%;
    padding:24px 144px 24px 24px;
}

.navbar {
    display:flex;
    justify-content: space-between;
}

.navbar li {
    white-space: nowrap;
    text-align: center;
}

/*hero*/

.hero {
    display:flex;
    background-color: #1f2937;
    padding:48px 144px 72px 144px;
}

.hero-left {
    min-height: 150px;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap:16px;
}

.hero-left h1{
    color:#f9faf8;
}

.hero-left p{
    color:#e5e7eb;
    max-width: 600px;
}

.hero-right {
    flex:1;
    display:flex;
    text-align: center;
    background-color: gray;
    margin:0 0 0 36px;
    justify-content: center;
    padding: 24px 0px;
}

.hero-right p {
    align-self: center;
    color:#e5e7eb;
}

.hero button {
    width:fit-content;
    padding:9px 27px;
}

button {
    border-radius: 8px;
    border:0px;
    background-color: #3882f6;
    color:#e5e7eb;
    font-weight: bold;
}

/*Middle*/

.middle {
    padding-bottom: 108px;
    background-color: white;
}

.middle h2{
    text-align: center;
    padding: 48px;
}

.grid {
    display: flex;
    justify-content: center;
    gap:48px;
}

.element {
    display: flex;
    flex-direction: column;
    gap:16px;
    align-content: center;    
}

.element p{
    align-self: center;
    text-align: center;
    max-width: 150px;
}

.block {
    width:150px;
    height:150px;
    border-width:2px;
    border-style: solid;
    border-color:#3882f6;
    background-color: aquamarine;
    border-radius: 12px;
    align-self: center;
}

/*Bottom*/

.bottom {
    display:flex;
    flex-direction: column;
    padding:144px 288px;
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    color:#1f2937;
    text-align: center;
    line-height: 54px;
    margin-bottom: 36px;
}

#signature {
    text-align: right;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
}

/*sign up*/

.sign-up {
    display:flex;
    padding: 72px 144px;
    margin: 108px 144px;
    background-color: #3882f6;
}

.sign-left {
    display: flex;
    flex-direction: column;
    flex:1;
}

#call {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 18px;
}

#call2 {
    color: #e5e7eb;
    font-size: 18px;
}

#sign-button {
    font-size: 24px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #f9faf8;
    padding:0 48px;
}

/*Footer*/

.footer {
    font-size: 16px;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 36px;
}